@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  margin: 0;padding: 0;text-decoration: none;
  list-style-type: none;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}
body {
  background-color: #f5f5f5; 

}
.center-horizontally {
  text-align: center;
}
.center-both {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  height: 100vh;
  display: flex;
 flex-direction: column; 
  background-color: #f0f0f0; 
}

h1 {
  font-size: 2rem;
  padding: 20px;
  background-color: #3498db; 
  color: white;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
}

button {
  font-size: 1rem;
  padding: 10px 20px;
  background-color: #27ae60; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
}

button:hover {
  background-color: #218c54;
  transform: scale(1.05);
  color: #fff; 
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); 
}